.about_container{
  display: block;
  // overflow: auto;
  text-align: center;
  width: 375px;
  border-radius: 30px;
  margin: 0 auto;
  box-shadow: 2px 6px 6px #6f6f6f;
  line-height: 200px;
  margin-bottom: 50px;
  background-color: white;
}

.title-about{
margin-top: 15px;
  font-size: 50px;
  font-weight: bold;
}

.about_link{
  margin-top: 25px;
  h3{
    margin-bottom: -5px;
  }

.titleproject{
font-size: 30px;
  }
}
.donate_btn{
  width: 135px;
  height: 50px;
  font-size: 20px;
  font-weight: 900px;
  color: #313133;
  background-color: #a2d696 !important;
  border: none;
  border-radius: 1000px;
  padding: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textproject{
  padding:30px;
  font-size: 25px;
}
.for-dev{
  margin-top: 50px;
  text-decoration: none;
}

.fa-github{
  font-size: 100px;
}

.card-product {
  height: 30vw;
  background: #f0fcee;
  box-shadow: 2px 6px 6px #6f6f6f;
  display: flex;
  align-items: center;
  margin: 20px;
  border-radius: 50px 0 50px 0;
}
