.container-target{
  display: flex;
  justify-content: center;
  height: fit-content;
}
h1{
  margin-bottom: 3vh;
}
.cardTarget{
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 335px !important;
  background-color: rgba($color: rgb(242, 241, 241), $alpha: 1.0);
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.backcard{
  // box-shadow: 10px 10px 5px #ccc;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 375px;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
}
.backcard h1{
  margin-left: 10px;
  font-size: 60px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 39px;
}
.backcard h4{
  // margin-left: -8rem;
  margin-top: -20px;
  font-weight: 600;
  padding: 15px;
  font-size: 41px;
  line-height: 80px;
  margin-bottom: 0px;
}

.myactiontitle{
  margin-left: -17rem !important;
}

.myactiontotal{
  font-size: -4vw ;
  line-height: 1vh;
  margin-bottom: 4vh;
  margin-bottom: 1.5rem;
}
.targetchart{
  height: 30%;
  border-radius: 8px;
  width: 90%;
  margin-bottom: 26px;
}
// .actionbtncont{
//   margin-left: 8rem;
//   display: flex;
//   width: 90%;
//   align-items: center;
//   justify-content: space-around;
//   img{
//     margin-bottom: 2rem;
//   }
// }
.saved_ideas{
  background-color: white;
  width: 90%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.fa-comments {
  color: #4C9F93;
}

#bnttarget{
  margin-top: 2vh;
}
