.resultscont{
  margin-top: 50px;
  height: 2200px;
}

#title-result{
  font-size: 55px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.titles--KPI{
  display: flex;
  justify-content: space-between;
  width: 285px;
  margin-left: 39px;
}

.title-kpi {
  font-size: 34px;
  font-weight: bold;
  margin-left: -15px;
  margin-right: 5px;
}


.split{
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 34px;
}

.nr-result {
  display: flex;
  justify-content: space-between;
}

#KPI{
  margin-left: 32px;
  font-size: 55px;
  color:  #345f61;
  font-weight: bolder;

}


.results-card-pie{
  height: 885px;
  width: 375px;
  border-radius: 30px;
  margin: 0 auto;
  box-shadow: 2px 6px 6px #6f6f6f;
  line-height: 80px;
  background: white;
}

#info{
    font-size: 30px;
    background: #0f4fb7;
    border-radius: 50%;
    color: white;
    padding: 4px;
    text-align: center;
    margin-top: 83px;
    margin-left: 5px;
}
// .tooltip-text {
//   visibility: hidden;
//   position: absolute;
//   z-index: 1;
//   width: 250px;
//   color: white;
//   font-size: 18px;
//   // background-color: #192733;
//   background-color : rgba($color: #000000, $alpha: 0.8);
//   border-radius: 10px;
//   padding: 10px 15px 10px 15px;
//   line-height: 30px;
// }

// .hover-text:hover .tooltip-text {
//   visibility: visible;
// }

// .left {
//   top: 82px;
//   right: 90%;
// }


// .numbers {
//   position: relative;
//   margin: -83px;
//   margin-right: -85px;
//   text-align: center;
// }

// .chart {
//   position: relative;
//   margin: -80px;
//   margin-left: 5px;
//   text-align: center;
// }

#targetW{
  font-size: 48px;
  margin-right: 48px;
  font-weight: bold;
}

.containerpie{
  display: flex;
}


.container-radar{
  align-items: center;
  justify-content: center;
  // width:90vw;
  border-radius: 30px;
  margin-top: 150px;
  box-shadow: 2px 6px 6px #6f6f6f;
  line-height: 170px;
  background: white;
  margin-bottom: 55px;
}

#info2{
  font-size: 30px;
  background: #0f4fb7;
  border-radius: 50%;
  color: white;
  padding: 4px;
  text-align: center;
  margin-top: 100px;
  margin-left: 3px;
}



h3{
  font-weight: bold;
}


.comparison{
  font-weight: bold;
  margin-top: 30px;
  font-size: 50px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // justify-content: center;

}

#info3{
  margin-left: 325px;
  font-size: 30px;
  background: #0f4fb7;
  border-radius: 50%;
  color: white;
  padding: 4px;
  text-align: center;
  margin-top: 120px;

}

// .tooltipComparison{
//   margin-bottom: -40px;
//   margin-right: 20px;
//   margin-top: -175px;
//   position: relative;
//   text-align: center;
// }

// .tooltip-text3 {
//   width: 190px;
//   padding: 10px 15px 10px 15px;
// }
