.card{
  height: 465px;
  width: 375px;
  border-radius: 30px;
  margin: 0 auto;
  box-shadow: 2px 6px 6px #6f6f6f;
  line-height: 120px;
  margin-bottom: 100px;
}

.cardsurvey1{
  height: 620px;
  margin-top: 65px;
}

.title{
  font-size: 55px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}

.icons{
  margin-left: 3px;
  margin-top: 10px;
}

.icons1{
  margin-left: 3px;
  margin-top: -145px;
}
.fa-solid{
  font-size: 40px;
  background:  #dfe0e0;
  border-radius: 50%;
  color: white;
  padding:10px;
}

.fa-solid1{
  margin-top: 180px;
}

.current{
  background:  #345f61;
}

.question{
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 70px;
  font-style: oblique;
  margin-top: 20px;
  margin-left: 5px;
  text-align: center;
  padding-left: 0px;
  padding-right: 15px;

}

.question1{
  font-size: 34px;
  font-weight: bold;
  font-style: oblique;
  margin-top: 20px;
  margin-bottom: 70px;
}


.form-control{
  height: 80px;
  width: 340px;
  border-radius: 30px;
  margin-left: 5px;
}

.slicer{
  display: flex;
  flex-direction: row;
}

.slider {
  -webkit-appearance: none;
  height: 30px;
  border-radius: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  display: flex;
  flex-direction: column;
  width: 310px;
  margin-left: 20px;

}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #a2d696;
  cursor: pointer;
  margin-top: -5px;
}

.slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #a2d696;
  cursor: pointer;
  margin-top: -5px;
}

#demo{
  margin-left: 135px;
  font-size: 30px;
}

.container-survey{
  padding: -13px;
}
